page-about {
    #inp{
        padding: 10px;
        padding-left:20px;
        .in{
            background: rgb(248, 245, 245);
            width: 97%;
            height: 30px;
            border:1px solid #c8cccf;
            color:#6a6f77;
            border-radius:3px;
            text-align: center;
        }
    }
    #banner{
        margin-left: 7px;
    }
    #biao{border:0px solid #000;
        float: left;
        margin-left: 31.5%;
    }
    #biao1{border:0px solid #000;
        float: left;
        margin-left: 30%;
        margin-top: 30px;
    }
    .biaoti{
        
        color: #6a6f77;
        display: inline;
    }
    .xian{border-top:1px solid rgb(167, 165, 165);
        display: inline;
        padding-bottom: 5px;
        
    }
    #shai{
        margin-top: 3px;
        margin-left: 70px;
        width: 12px;
    }
    #ul{border:0px solid #000;
        width: 105%;
        margin-top: -16px;
        margin-left: -10px;
        #yellow{
            background: #fc3
        }
        li{border:0px solid #000;
            color: #6a6f77;
            padding-top:7px;
            text-align: center;
            font-size: 17px;
            width: 20%;
            height: 40px;
            list-style: none;
            float: left;
    
        }
    }
    #main{border:0px solid #000;
        margin-left: -11px;
        margin-top:0px;
        margin-bottom: 50px;
    }
    #shafa{
        width: 45%;
        float: left;
        margin-left: 16px;
        margin-top: 10px;
    }
    #text{
        color: #fff;
        text-align: center;
        position: absolute;
        top:490px;
        left: 25px;
    }
    #mon{
        color: red;
    }
    #black{
        background: #000;
        width: 42.5%;
        height: 80px;
        opacity: 0.4;
        position: absolute;
        top:319px;
        left: 20px;
    }

        
   
}
