#people{border:0px solid black;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}
#photo{border:0px solid black;
    width: 170px;
    height: 110px;
    float: left;
}
#pho{
    width: 160px;
    height: 110px;
    margin-bottom: 10px;
}
#pname{ border:0px solid black;
    height: 10px;
    color: #ccc;
    margin-top: 100px;
}
a{
    text-decoration:none;
    
}
#text{
    border:0px solid black;
    width: 420px;
    height: 110px;
    float: left;
}
#t-name{
    border:0px solid black;
    width: 420px;
    height: 40px;
    float: left;
}
#text1{
    border:0px solid black;
    width: 420px;
    height: 80px;
    color: rgb(131, 120, 120);
    float: left;
}
#pho1{
    width: 60px;
    height: 60px;
    border-radius:100px;
}
li{
    list-style: none;
}
#main{border-bottom:1px solid rgb(185, 166, 166);
    margin-top:10px;
    margin-left: -20px;
    width: 70%;
    height: 150px;
}
#ul{
    border:0px solid black;
    width: 240px;
    height: auto;
    position: absolute;
  left: 67%;
  top: 12%;
}
#hang{
    height: 10px;
}
