<div id="body">

<div id="hang"></div>
<div id="hang">学霸，学渣，偶想说～</div>
<div id="hang"></div>
<div id="head">
    <div class="bun" (mouseover) = "fun()"><a href="#"><img src="/src/assets/images/1.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/2.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/3.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/4.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/5.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/6.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/7.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/8.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/9.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/10.png" alt=""></a></div>
    <div class="bun"><a href="#"><img src="/src/assets/images/11.png" alt=""></a></div>
</div>
<div id="area1">
  <textarea name="" id="area" cols="" rows="8"></textarea>
  <span id="wen">❀话题&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;发长文</span><button id="but">发布</button>

<div id="hang"></div>
<div>
    <ul class="nav nav-tabs">
        <li role="presentation" ><a  [routerLink]="['/main/say-li/say-area']">动态</a></li>
        <li role="presentation"><a  [routerLink]="['/main/say-li/say-area1']">我的赞</a></li>
        <li role="presentation"><a  [routerLink]="['/main/say-li/say-area']">我的收藏</a>
        </li>
    </ul>
</div>
</div>
<router-outlet></router-outlet>
<div id="hang"></div>
</div>