<div id="li">
    <li *ngFor="let item of text">
        <div id="main">
          <div id="people">
              <img id="pho1" src="{{item.photo}}" alt="">
          </div>
          
         <div id="text">
           <div id="t-name">
             <a href="#"><h5><b>{{item.name}}</b></h5></a>
           </div>
           <div>
             <span id="text1">{{item.text}}</span><div >
              
              <span id="pname">{{item.pname}}</span>
            </div>
           </div>
           
         </div>
        </div>
        
      </li>
</div>
<div id="hang"></div>