<div id="hang"></div>
<div id="man">
  <div id="tu"><img src={{touxiang}} id="img"></div>
  <div id="text">
      <div id="hang"><p id="span">{{name}}</p></div>
    <ul class="nav nav-pills" role="tablist" id="text-ul">
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li role="presentation"><a href="#">粉丝 <span class="badge">0</span></a></li>
      <li role="presentation"><a href="#">关注 <span class="badge">0</span></a></li>
    </ul>
  </div>
  <hr>
  <div id="ul">
      <div class="list-group">
          <a [routerLink]="['/main/job']" class="list-group-item">任务</a>
          <a [routerLink]="['/main/togther-li']" class="list-group-item">同步课</a>
          <a [routerLink]="['/main/course-li']" class="list-group-item">课程</a>
          <a [routerLink]="['/main/say-li']" class="list-group-item">且说</a>
          <a [routerLink]="['/main/tell-li']" class="list-group-item">通知</a>
        </div>
  </div>
</div>
<div id="shu"></div>
<div id="area">
  <app-job1>
    
  </app-job1>
</div>