#ul{
    border:0px solid black;
    width: 100%;
    height: auto;
    float: left;
    -moz-box-shadow:0 0 10px #ccc;
    -webkit-box-shadow:0 0 10px #ccc;
    box-shadow:0 0 10px #ccc;
}
#hang{
    height: 10px;
}
.container{border:0px solid black;
    width: 800px;
    margin: 0 auto;
}
.container li{
    list-style: none;
    border:1px solid rgb(196, 147, 147);
    width: 185px;
    height: 287px;
    float: left;
    margin: 3px;
}
.container ul{
    margin-left: -47px;
}
#h3{
    text-align: center;
}
#bun{border:0px solid black;
    width: 100%;
    margin-top: 15px;
    margin-left:0px;
}
#text{
    color: rgb(139, 187, 187);
    margin-left: 5px;
    
    
    border:0px solid black;
    width: 98%;
    height: 90px;
}
img{
    width: 183px;
    height: 100px;
}
#page{
    text-align: center;
}